<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core.Microsoft.Signed" version="3.1.1.1" targetFramework="net45" />
  <package id="FsPickler" version="1.0.2" targetFramework="net45" />
  <package id="FsPickler.Json" version="1.0.2" targetFramework="net45" />
  <package id="MBrace.Client" version="0.5.13-alpha" targetFramework="net45" />
  <package id="MBrace.Core" version="0.5.13-alpha" targetFramework="net45" />
  <package id="MBrace.Store" version="0.5.13-alpha" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net45" />
  <package id="Thespian" version="0.0.11-alpha" targetFramework="net45" />
  <package id="UnionArgParser" version="0.8.0" targetFramework="net45" />
  <package id="Unquote" version="2.2.2" targetFramework="net45" />
  <package id="Vagrant" version="0.2.6" targetFramework="net45" />
</packages>