redirects: on
source https://www.nuget.org/api/v2/
framework: net45, net461, netstandard2.0, netcoreapp2.2
storage: none
redirects: off

nuget FSharp.Core ~> 4.3.4
nuget FsCheck ~> 2.14.0
nuget FSharp.Collections.ParallelSeq >= 1.1.2
nuget NUnit ~> 3.12.0
nuget NUnit3TestAdapter ~> 3.12.0
nuget Microsoft.Net.Test.SDK ~> 15.8.0

group Build
  source https://www.nuget.org/api/v2/
  framework: net461
  
  nuget FAKE ~> 4.0
  nuget FSharp.Formatting ~> 3.1.0